extends layout

block append title
  | - Læringssti

block content
  .two-column
    aside.two-column_col
      include ../molecules/learningpath-general-info.jade
      include ../molecules/step-nav.jade

    main.two-column_col
      .learning-path_hd
        h1.learning-path_title Bottom Hole Assembly
      .learning-path_bd
        p Uttrykket Bottom Hole Assembly (BHA) omfatter alt utstyr som brukes i en arbeidsstreng i brønnen. Det kan være både for vertikal boring, retningsboring, logging, brønntesting, komplettering og brønnservice. Felles for BHA er at det er den delen av arbeidsstrengen som har andre funksjoner enn bare å lede utstyr inn og ut av brønnen, slik som f.eks. borerør (Drillpipe), kabel (Wireline) eller kveilerør (Coiled Tubing). I emnet Bottom Hole Assembly – BHA ser vi nærmere på utstyr som brukes til boring, både vanlig boring og retningsboring.

        p Forkortelsen BHA er vanlig å bruke i skriftlig form og er allment kjent i oljeindustrien over hele verden. Det er vanligere å uttale BHA som "Bottom Hole Assembly".
  .stepper-nav.stepper-nav_fixed
    span.stepper-nav-btn.stepper-nav-btn_disabled
      svg.icon.icon--with-label.icon--arrow-back: use(xlink:href="/assets/symbol-defs.svg#icon-arrow_back") 
      span Neste
    a.stepper-nav-btn(href='#')
      span Neste
      svg.icon.icon--with-label.icon--arrow-forward: use(xlink:href="/assets/symbol-defs.svg#icon-arrow_forward") 
