extends layout-learningpath-open-left

block append title
  | - Læringssteg

block content
  .two-column
    aside.two-column_col.table-of-content.sidebar--open
      include ../molecules/learningpath-general-info.jade
      - var STEP_NAV_ACTIVE_INDEX = 3;
      include ../molecules/step-nav.jade

    main.two-column_col
      .learning-step
        iframe.learning-step_embeded(src='http://www.knowit.no/Kundecaser/Oslo-kommune1/Oslo-kommune/')
        
    include ../molecules/stepper-nav.jade
    .learning-path_margin
