doctype html
html(lang='no_NB')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href=STYLESHEET_PATH)
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300italic,300|Signika:400,600,300,700')
    != LRScript
    title
      block title
        | NDLA

  body
   block body

      include ../molecules/masthead-right-open.jade

     .content
       block content
         h2 This page probably unintentionally left blank
