extends layout

block append title
  | - Mine Læringsstier

block content
  .page-header
    h2.page-header_name Mine læringsstier

    .page-header_ctrls
        a.sorting-button(href="#")
          svg.icon.icon--sort-by-alpha: use(xlink:href="/assets/symbol-defs.svg#icon-sort_by_alpha")
        a.sorting-button(href="#")
          svg.icon.icon--list: use(xlink:href="/assets/symbol-defs.svg#icon-list")
        select
          - var i = 0;
          while i++ < 10
            option(value="#{i}") Sortering #{i}
  .tiles
      .tile
        .img-cropper-tile
          img.search-result_img(src='https://unsplash.it/1000/600?image=1071')
        h3.tile_hd Heltedikt og gudedikt
        .tile_bd
          p En læringssti som tar for seg heltedikt og gudedikt i norrøn og europeisk middelalderlitteratur.
        .tile_ft
          p Publisert
          p Oppdatert 20.03.16
          p Lengde 2 timer


      .tile
        .img-cropper-tile
          img.search-result_img(src='https://unsplash.it/1000/600?image=123')
        h3.tile_hd Snorres kongesagaer
        .tile_bd
          p En læringssti om Snorres kongesagaer med spesiell fordypning i «Olav den helliges saga»
        .tile_ft
          p Publisert
          p Oppdatert 20.03.16
          p Lengde 2 timer


      .tile
        .img-cropper-tile
          img.search-result_img(src='https://unsplash.it/1000/600?image=724')
        h3.tile_hd Kontrast og balanse i grafisk design
        .tile_bd
          p En innføring i komposisjonsprinsipper i grafisk design med vekt på kontrast og balanse.
        .tile_ft
          p Publisert
          p Oppdatert 20.03.16
          p Lengde 2 timer


      .tile
        .img-cropper-tile
          img.search-result_img(src='https://unsplash.it/1000/600?image=363')
        h3.tile_hd Arbeidsoppdrag - PC mappe
        .tile_bd
          p Når du skal jobbe med tekstil er det kunn kreativiteten som setter grenser. Her får du et arbeidsoppdrag hvor du skal lage en PC mappe med dekor, enten som trykk eller applikasjon/ lappeteknikk.
        .tile_ft
          p Publisert
          p Oppdatert 20.03.16
          p Lengde 2 timer


      .tile
        .img-cropper-tile
          img.search-result_img(src='https://unsplash.it/1000/600?image=534')
        h3.tile_hd Kontrast og balanse i grafisk design
        .tile_bd
          p En innføring i komposisjonsprinsipper i grafisk design med vekt på kontrast og balanse.
        .tile_ft
          p Publisert
          p Oppdatert 20.03.16
          p Lengde 2 timer


  a.cta-link.labeled-icon.new-learningpath-button(href="/pages/pre-opprett-laeringssti")
    svg.icon.icon--with-label.icon--add-circle-outline: use(xlink:href="/assets/symbol-defs.svg#icon-add_circle_outline")
    span.labeled-icon_text Opprett ny læringssti