extends layout

block append title
  | - Læringssti

block content
  .two-column
    aside.two-column_col
      include ../molecules/learningpath-general-info.jade


      include ../molecules/step-nav--new-step.jade

      include ../molecules/vertical-menu.jade

    main.two-column_col.two-column_col--white-bg
      //-- Bruk draft.js her, disse input feltene er bare brukt for å simulere.
      form.learning-step-form
        .learning-step-form_group
          span.learning-step-form_mediatype-icon
            svg.icon.icon--menu: use(xlink:href="/assets/symbol-defs.svg#icon-menu")
          select.learning-step-form_mediatype-dd
            option Introduksjon
            option Tekst
            option Multimedia
        .learning-step-form_group
          .learning-step-form_left
            span.learning-step-form_icon-bg
              svg.icon.icon--create: use(xlink:href="/assets/symbol-defs.svg#icon-create")
            span.learning-step-form_icon-bg.learning-step-form_show-title
              svg.icon.icon--visibility-off: use(xlink:href="/assets/symbol-defs.svg#icon-visibility_off")
              label.sr-only
                input(type="checkbox")
          .learning-step-form_right
            input(placeholder="Tittel på læringssteg" style="display: block;").learning-step-form_input.learning-step-form_title
            span.error_message.error_message--red Feltet er påkrevd.
        //-- Bruk draft.js her, disse input feltene er bare brukt for å simulere.
        .learning-step-form_group
          ul.textformat-menu
              li.texformat-menu-item.texformat-menu-item__selected
                svg.icon.icon--format-bold: use(xlink:href="/assets/symbol-defs.svg#icon-format_bold")
              li.texformat-menu-item
                svg.icon.icon--format-italic: use(xlink:href="/assets/symbol-defs.svg#icon-format_italic")
              li.texformat-menu-item
                svg.icon.icon--format-list-bulleted: use(xlink:href="/assets/symbol-defs.svg#icon-format_list_bulleted")
              li.texformat-menu-item
                svg.icon.icon--format-list-numbered: use(xlink:href="/assets/symbol-defs.svg#icon-format_list_numbered")
        .learning-step-form_group.learning-step-form_group-paragraph
          .learning-step-form_left
            span.learning-step-form_icon-bg
              svg.icon.icon--create: use(xlink:href="/assets/symbol-defs.svg#icon-create")
          .learning-step-form_right
            textarea(placeholder="Lag en beskrivelse av hva leseren skal lære om").learning-step-form_input.learning-step-form_paragraph
        .learning-step-form_group
          .learningsource-form
            div
              label.mediatype-menu__label Lim in lenke (URL) fra ndla.no eller youtube.com
              input(type='url' value="https://ndla.se/nb/node/149925/oembed" placeholder="Lim in lenke")
              span.error_message.error_message--red Feltet har en ugyldig url.
            .learningsource--wrapper
              iframe.learningsource__frame(src="https://ndla.no/nb/node/149925/oembed")
              a.learningsource__expand(href="#")
                span.button.button--outline Forhåndsvis hele artikkelen
          span.error_message.error_message--red Enten Beskrivelse eller Url feltet må fylles ut.
  include ../molecules/stepper-nav.jade
  .learning-path_margin
