extends layout

block append title
  | - Læringssti

block content
  .two-column
    aside.two-column_col
      .learningpath-general-info
        h2(contenteditable="true").learningpath-general-info_h Læringsstitittel

      include ../molecules/step-nav.jade

      include ../molecules/vertical-menu.jade

    main.two-column_col
      .learning-path_hd
        h1.learning-path_title Introduksjon
      .learning-path_bd
        p Prosessanlegg omfatter hovedkomponentene i prosessanlegget og prosessen som leder fram til leveringsklar olje og gass. Du skal bli kjent med hovedkomponentene som inngår i prosessen og forstår hvordan og hvorfor råstoff behandles før det leveres til mottak.