extends minestier

block append content
  .lightbox
    .lightbox_content
      form
        h1 Opprett ny læringssti
        label Tittel
        input(type='text' required)
        label Beskrivelse
        textarea.textarea(rows="4" cols="50" placeholder="Skriv en kort beskrivelse av læringsstien." maxlength="150")
        p.hint-text Max 150 tegn
        button(type='submit') Opprett ny læringssti

      
