extends minestier

block append content
  .lightbox
    .lightbox_content
      form
        a.close-dialog(href="/pages/minestier")
          svg.icon.icon--clear: use(xlink:href="/assets/symbol-defs.svg#icon-clear")
        h1 Opprett ny læringssti
        label Tittel
        input(type='text' required)
        label Beskrivelse
        textarea.textarea(rows="4" cols="50" placeholder="Skriv en kort beskrivelse av læringsstien." maxlength="150")
        p.hint-text Max 150 tegn
        a.button.cta-link.cta-link--block(href="/pages/nytt-laeringssteg") Opprett ny læringssti

      
