extends layout-learningpath

block append title
  | - Læringssti

block content
  .two-column
    aside.two-column_col.table-of-content.sidebar--collapsed
      .learningpath-general-info
        .learningpath-general-info_h
          h3 Learning path title
        .learningpath-general-info_b
          svg.icon.icon--person.icon--with-label: use(xlink:href="/assets/symbol-defs.svg#icon-person")
          svg.icon.icon--today.icon--with-label: use(xlink:href="/assets/symbol-defs.svg#icon-today")
          | 24.05.2015
          svg.icon.icon--query-builder.icon--with-label: use(xlink:href="/assets/symbol-defs.svg#icon-query_builder")
          | 4 timer
        a.cta-link.cta-link--round.edit_learningpath--button(href="/pages/rediger-laeringssti") Endre detaljer
        
      include ../molecules/step-nav_no_active.pug

      include ../molecules/step-nav_buttons.pug

    main.two-column_col
      div.two-column_content
        form
          .learning-path_hd
            h1 Læringstidetaljer
            label.label--medium-bold.label--medium Tittel på læringssti
            .learning-path-input.learning-path-input__title
              input(type='text' value="Learning path title")

          .learning-path_bd
            label.label--medium-bold.label--medium Beskrivelse
            .learning-path-input.learning-path-input__paragraph
              textarea.textarea.textarea--resize-vertical(rows= "4" cols="50" placeholder="Skriv en kort beskrivelse av læringsstien.")
              p.learning-path_input-information Maks 150 tegn og du har 150 igen. Beskrivelsen blir synlig i søk.
            .block-container_fixed.block-container_fixed--bottom--right
              .button-group
                a.button.button--secondary(href='#')
                  svg.icon.icon--clear.icon--with-label: use(xlink:href="/assets/symbol-defs.svg#icon-clear")
                  |  Avbryt
                button.button.button--primary
                  svg.icon.icon--save.icon--with-label: use(xlink:href="/assets/symbol-defs.svg#icon-save")
                  |  Lagre
            .learning-path-image
              label.label--medium-bold.label--medium Illustrerende bilde
              div
                .image-preview_image
                  img(src="http://api.test.ndla.no/images/full/64078945_0.jpg")
                  p.learning-path_input-information Bildet blir synlig i søk på læringssti.
                .image-preview_information
                  h2.image-preview_title Ungdommer holder en globus
                  .image-prieview_copyright-author
                    b Opphav
                    span NTB scanpix
                  button.button.button--primary Bytt bilde
            .learning-path-duration
              label.label--medium-bold.label--medium Varighet
              div
                ul.duration-menu
                  li.duration-menu-item 1
                  li.duration-menu-item 2
                  li.duration-menu-item 3
                  li.duration-menu-item.duration-menu-item__selected 4
                  li.duration-menu-item 5
                input.input-duration(value="4")
                span time(r)
            .learning-path-tags
              label.label--medium-bold.label--medium Tagger
              include ../molecules/multiselect--closed.pug
      include ../molecules/stepper-nav.pug
