extends layout

block append title
  | - Finn læringssti

block content
  .page-header
    include ../molecules/search-form.jade
  .search-results
    - var n = 2
    while n++ < 10
      include ../molecules/search-result.jade
    include ../molecules/search-stepper.jade
