h3 Document grid

.container
  - var n = 0
  while n++ < 6
    .box.shadow
      h1 A learning path
      p Sriracha fixie 3 wolf moon before they sold out disrupt, plaid pinterest gastropub tousled austin. Freegan sustainable occupy cronut. Pickled kogi microdosing,
      strong Fact
