.step-nav
  h3.step-nav_h Bottom Hole Assembly
  .learning-path_author Ola Hemsedal
  .learning-path_updated-at Sist endret 11.04.15
  .learning-path_duration 5 timer
  ul.step-nav_list
    li.step-nav_item: a.step-nav_link(href='#') Introdukjson
    - var i = 0
    while i++ < 7
      li.step-nav_item(class=i == 3 ? 'step-nav_item--active' : ''): a.step-nav_link(href='#') Bruksområde

    li.step-nav_item: a.step-nav_link(href='#') Prøve
