h2 Buttons

p Button is for clicking, not linking.

:example
  <button class='button'>click button</button>
  <button class='button button--outline'>click button</button>
  <input class="button button_primary" type='submit' class='button' value='click submit'>
  <input type='button' class='button' value='click input button'>
