h2 Buttons

p Button is for clicking, not linking.

:example
  <button class='button'>click button</button>
  <button class='button button--outline'>click button</button>
  <input class="button button--primary" type='submit' class='button' value='click submit'>
  <input type='button' class='button' value='click input button'>

:example
  <input class='button' type='submit' value='submit disabled' disabled>
  <input class='button' type='button' value='button disabled' disabled>
  
:example
  <button class='button button--primary'>button primary</button>
  <button class='button button--secondary'>button secondary</button>
  <button class='button button--round'>button round</button>
  <button class='button button--primary button--round'>button primary round</button>

p Button with all styles reset. Usefull for buttons with JavaScript-magic-onclick.

:example
  Does <button class='un-button'>this</button> look like a button to you?

h3 Button, group

:example
  <div class="button-group-wrapper">
    <button class='button button--secondary'>
      <svg class="icon icon--with-label icon--clear"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/symbol-defs.svg#icon-clear"></use></svg>
      Avbryt
    </button>
    <button class='button button--primary'>
      <svg class="icon icon--with-label icon--save"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/symbol-defs.svg#icon-save"></use></svg>
      Lagre
    </button>
  </div>

h3 Multiple buttons and links, group

:example
  <div class="button-group-wrapper">
    <button class='button button--secondary'>
      <svg class="icon icon--with-label icon--save"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/symbol-defs.svg#icon-save"></use></svg>
      Link 1
    </button>
    <a class='cta-link' href='#'>
      <svg class="icon icon--with-label icon--clear"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/symbol-defs.svg#icon-clear"></use></svg>
      Link 2
    </a>
    <button class='button button--secondary'>
      <svg class="icon icon--with-label icon--save"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/symbol-defs.svg#icon-save"></use></svg>
      Link 3
    </button>
    <a class='cta-link' href='#'>
      <svg class="icon icon--with-label icon--clear"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/symbol-defs.svg#icon-clear"></use></svg>
      Link 4
    </a>
  </div>

h3 Button and link, group

:example
  <div class="button-group-wrapper">
    <a class='cta-link cta-link-secondary' href='#'>
      <svg class="icon icon--with-label icon--clear"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/symbol-defs.svg#icon-clear"></use></svg>
      Avbryt
    </a>
    <button class='button button--primary'>
      <svg class="icon icon--with-label icon--save"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/symbol-defs.svg#icon-save"></use></svg>
      Lagre
    </button>
  </div>
