h2 Buttons

p Button is for clicking, not linking.

:example
  <button class='button'>click button</button>
  <button class='button button--outline'>click button</button>
  <input class="button button_primary" type='submit' class='button' value='click submit'>
  <input type='button' class='button' value='click input button'>

:example
  <input type='submit' value='submit disabled' disabled>
  <input type='button' value='button disabled' disabled>

p Button with all styles reset. Usefull for buttons with JavaScript-magic-onclick.

:example
  Does <button class='un-button'>this</button> look like a button to you?
