h2 Buttons

p Button is for clicking, not linking.

:example
  <button class='button'>click button</button>
  <button class='button button--outline'>click button</button>
  <input class="button button_primary" type='submit' class='button' value='click submit'>
  <input type='button' class='button' value='click input button'>

:example
  <input type='submit' value='submit disabled' disabled>
  <input type='button' value='button disabled' disabled>

p Button with all styles reset. Usefull for buttons with JavaScript-magic-onclick.

:example
  Does <button class='un-button'>this</button> look like a button to you?

h3 Button, create/edit

:example
  <button class='button-create-edit'>
  <svg class="icon icon--with-label icon--add-circle-outline"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/symbol-defs.svg#icon-add_circle_outline"></use></svg>
  Opprett læringssti
  </button>

h3 Button, group

:example
  <div class="button-group-wrapper">
    <button class='button-create-edit button_non-scale button-group-first button-seconday-action'>
    <svg class="icon icon--with-label icon--clear"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/symbol-defs.svg#icon-clear"></use></svg>
    Avbryt
    </button>
    <button class='button-create-edit button_non-scale button-group-last'>
    <svg class="icon icon--with-label icon--save"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/symbol-defs.svg#icon-save"></use></svg>
    Lagre
    </button>
  </div>