h3 Dropdown menu

:example
    <div class='dropdown-menu'>
      <span class="dropdown-menu_icon">
        <svg class="icon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/symbol-defs.svg#icon-more_vert"></use>
        </svg>
      </span>
      <ul class='dropdown-menu_items'>
        <li class='dropdown-menu_item'><a class='dropdown-menu_link' href="#">Publiser</a></li>
        <li class='dropdown-menu_item'><a class='dropdown-menu_link' href="#">Slett</a></li>
      </ul>
    </div>