h2 Links

:example
  <a href="#">Plain old regular link</a>

h3 Call to Action

:example
  <a class="cta-link" href="#">Primary Call to Action</a>
  <a class="cta-link cta-link--secondary" href="#">Secondary Call to Action</a>

h3 Call to Action on dark background

:example
  <div class="negative">
    <a class="cta-link cta-link--negative" href="#">Primary Call to Action</a>
    <a class="cta-link cta-link--secondary cta-link--secondary-negative" href="#">Secondary Call to Action</a>
  </div>

h3 Block link

:example
  <div>
    <a class="cta-link cta-link--block" href="#">Blocky Link</a>
  </div>

h3 Special Call to Actions

:example
  <a class="cta-link cta-link--gl" href="#">Google</a>
  <a class="cta-link cta-link--fb" href="#">Facebook</a>
  <a class="cta-link cta-link--tw" href="#">Twitter</a>
