h3 Button and link, group

:example
  <div class="button-link-group-wrapper">
    <a class='cta-link cta-link_rounded cta-link_non_scale button-link-group-first' href='#'>
    <svg class="icon icon--with-label icon--clear"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/symbol-defs.svg#icon-clear"></use></svg>
    Avbryt
    </a>
    <button class='button-create-edit button_non-scale button-link-group-last'>
    <svg class="icon icon--with-label icon--save"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/symbol-defs.svg#icon-save"></use></svg>
    Lagre
    </button>
  </div>
  
h3 Circle create/edit link

:example
  <a class='cta-link cta-link_rounded' href='#'>
    <svg class="icon icon--with-label icon--add-circle-outline"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/symbol-defs.svg#icon-add_circle_outline"></use></svg>
    Rediger sti
  </a>


h2 Links

:example
  <a href="#">Plain old regular link</a>

h3 Call to Action

:example
  <a class="cta-link" href="#">Primary Call to Action</a>
  <a class="cta-link cta-link--secondary" href="#">Secondary Call to Action</a>

h3 Call to Action on dark background

:example
  <div class="negative">
    <a class="cta-link cta-link--negative" href="#">Primary Call to Action</a>
    <a class="cta-link cta-link--secondary cta-link--secondary-negative" href="#">Secondary Call to Action</a>
  </div>

h3 Block link

:example
  <div>
    <a class="cta-link cta-link--block" href="#">Blocky Link</a>
  </div>

h3 Special Call to Actions

:example
  <a class="cta-link cta-link--gl" href="#">Google</a>
  <a class="cta-link cta-link--fb" href="#">Facebook</a>
  <a class="cta-link cta-link--tw" href="#">Twitter</a>
