h3 Header Logo

:example
  <div class="logo">
     <a class="logo_link" href="/">Nasjonal digital læringsarena</a>
  </div>

p To use the logo on dark backgrounds add the class <code>logo--on-dark</code>.
:example
  <div style="background-color:#20588f">
    <div class="logo logo--on-dark">
       <a class="logo_link" href="/">Nasjonal digital læringsarena</a>
    </div>
  </div>
