h2.negative Molecules

.styleguide-molecules
  #boxes
    include ./molecules/boxes.jade
  h3 Step navigation
  div(style='max-width:400px')
    include ./molecules/step-nav.jade

  h3 Search form
  div(style='max-width:920px')
    include ./molecules/search-form.jade
    include ./molecules/search-form--dark.jade

  h3 Search result
  div(style='max-width:920px')
    include ./molecules/search-result.jade
