.container{
	max-width: none;
	display: flex;
	background-color: #f3f3f3;
	flex-wrap: wrap;
	padding: 1em 5em;
}

.box{
  	width: calc(33.33333% - 2.4em);
  	margin: 1.2em;
	padding: 1em 2.5em 3.5em 2.5em;
	background-color: white;
	min-height: 23em;
	flex-wrap: wrap;
	min-width: 30px;
}

.box:last-child{
	margin-right: 0px;
}


@media (max-width: 600px) {
  .container{
    flex-direction: column;
 
  }
}