.container{
	max-width: none;
	display: flex;
	background-color: transparent;
	flex-wrap: wrap;
	padding: 3em 5em;
	max-width: 1700px;
	margin: 0 auto;
}

.box{
  	width: 22%;
  	margin: 1.5%;
	padding: 1em 2.5em 3.5em 2.5em;
	background-color: white;
	min-height: 23em;
	flex-wrap: wrap;
	transition: all .6s ease;
	z-index: 1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
	position: relative;
	border: 2px solid white;
}

.box:hover{
	transform: scale(1.04, 1.04);
	border: 2px solid var(--darkBlue);
	color: var(--darkBlue);
}

.box::after {
  box-shadow: 0 5px 30px rgba(0,0,0,0.3);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
}

.box:hover::after {
  opacity: 1;
}

@media (max-width: 1450px) {

.container{
	padding: 3em 2em;
}
  .box{
  	width: 30%;
  	margin: 1.655555%;
  	margin-bottom: 1em;
  }
}


@media (max-width: 900px) {
  .container{
    padding: 7%;
  }
  
  .box{
  	width: 46%;
  	margin: 2%;
  	margin-bottom: 1em;
  }
  .box:last-child{
  	margin-right: 5%;
  }
}

@media (max-width: 650px) {
  .container{
    padding: 7%;
  }
  
  .box{
  	width: 98%;
  	margin: 2%;
  	margin-bottom: 1em;
  }
  .box:last-child{
  	margin-right: 5%;
  }
}