
body{
  padding-bottom: 8em;
}

.styleguide-title {
  background-color: #20588f;
  padding: 1em;
  color: white;
  margin-top: 0px;
  margin-bottom: 2em; 
}

.styleguide-main {
  display: block;
  max-width: 900px;
  margin: 0 auto;
}

.styleguide-main--molecules {
  max-width: 1500px;
}

/** Notes field **/

.note{
  background-color: #fbf9e3;
  border: 1px solid #f4eea4;
  padding: 1em;
  border-radius: 3px;
}

.note h4{
  margin: 0em 0em .5em 0em;
}

.note p{
  font-size: 0.8em;
  margin: 0px;
}

.negative{
  background-color: black;
  padding: 1em;
}

/** Code field **/

.hljs{
  background-color: #ddd !important;
}


#boxes{
  max-width: none;
  margin: 0px;
  padding: 0px;
}

#site-list{
  padding-top: 2em;
  max-width: 600px;
  margin: 0 auto;
}

#site-list ul{
  list-style: none;
  padding: 0px;
  margin: 0px;
}

#site-list ul li{
  list-style: none;
  padding: 0px;
  margin: 0px;
}

#site-list ul li a{
  display: block;
  background-color: #20588F;
  color: white;
  padding: 1em 1em;
  text-decoration: none;
  margin-bottom: 1em;
}

#site-list ul li a:hover {
  background-color: #1b4c7b;
}

#site-list h2{
  margin-top: 3em;
}
