.alert.alert--success
  p Well done! You successfully read this important alert message.

.alert.alert--info
  p Heads up! This alert needs your attention, but it's not super important.

.alert.alert--warning
  p Warning! Better check yourself, you're not looking too good.

.alert.alert--danger
  p Oh snap! Change a few things up and try submitting again.

.alert.alert--warning
  p Warning! Better check yourself, you're not looking too good.
    a.alert--dismiss(href='#')
      svg.icon.icon--clear: use(xlink:href="/assets/symbol-defs.svg#icon-clear")