h3 Document grid

.tiles
  - var n = 0
  while n++ < 6
    .tile
      h3.tile_hd A learning path
      .tile_bd
        p Sriracha fixie 3 wolf moon before they sold out disrupt, plaid pinterest gastropub tousled austin. Freegan sustainable occupy cronut. Pickled kogi microdosing,
      .tile_ft
        strong Fact
