.button-group
  a.button.button--secondary(href='#')
    svg.icon.icon--clear.icon--with-label: use(xlink:href="/assets/symbol-defs.svg#icon-clear")
    |  Avbryt
  button.button.button--primary
    svg.icon.icon--save.icon--with-label: use(xlink:href="/assets/symbol-defs.svg#icon-save")
    |  Lagre
