- var active_index = STEP_NAV_ACTIVE_INDEX || 0;
.step-nav
  .step-nav_learningpath-general-info
    h2(contenteditable="true").step-nav_h Learning path title
  ul.step-nav_list
    li.step-nav_item: a.step-nav_link(href='#') Introdukjson
    li.step-nav_item(class=active_index == 0 ? 'step-nav_item--active' : ''): a.step-nav_link(href='#') Learning step one
    li.step-nav_item: a.step-nav_link(href='#') Learning step two
    li.step-nav_item: a.step-nav_link(href='#') Learning step three
  .vertical-menu
      a.cta-link.cta-link--block.cta(href="#")
        svg.icon.icon--collections: use(xlink:href="/assets/symbol-defs.svg#icon-collections")
        span.icon--space Forhåndsvisning
      a.cta-link.cta-link--block.cta.cta-link__top-spacing(href="#")
        svg.icon.icon--save: use(xlink:href="/assets/symbol-defs.svg#icon-save")
        span.icon--space Lagre som utkast
      a.button.button--outline.cta-link--block.cta-link__top-spacing(href="#")
        span.icon--space Lagre og publiser
        svg.icon.icon--arrow-forward: use(xlink:href="/assets/symbol-defs.svg#icon-arrow_forward")
