footer
  ul.footer-list
    li.footer-list-item
      a.footer-list-item-link(href="#") Om NDLA
    li.footer-list-item
      a.footer-list-item-link(href="#") Om Læringsstier
    li.footer-list-item
      a.footer-list-item-link(href="#") Tilbakemelding
    li.footer-list-item
      a.footer-list-item-link(href="#") Personvern

  p.footer-text Nettstedet er utarbeidet av NDLA som åpen kildekode. 
  p.footer-text Ansvarlig redaktør: 
    strong Øivind Høines 
    | Utgaveansvarlig: 
    strong Pål Frønsdal