.icon-select
  .icon-select_item
    input#anything1.icon-select_input(type='radio' name='anything' value=1)
    label.icon-select_label(for='anything1')
      svg.icon.icon--menu: use(xlink:href='/assets/symbol-defs.svg#icon-menu')
      span.icon-select_label-text Teori
  .icon-select_item
    input#anything2.icon-select_input(type='radio' name='anything' value=2 checked)
    label.icon-select_label(for='anything2')
      svg.icon.icon--play-circle-outline: use(xlink:href='/assets/symbol-defs.svg#icon-play_circle_outline')
      span.icon-select_label-text Video
  .icon-select_item
    input#anything3.icon-select_input(type='radio' name='anything' value=3)
    label.icon-select_label(for='anything3')
      svg.icon.icon--contacts: use(xlink:href='/assets/symbol-defs.svg#icon-contacts')
      span.icon-select_label-text Quiz
  .icon-select_item
    input#anything4.icon-select_input(type='radio' name='anything' value=4)
    label.icon-select_label(for='anything4')
      svg.icon.icon--menu: use(xlink:href='/assets/symbol-defs.svg#icon-menu')
      span.icon-select_label-text Oppgave
