.image-search
  .image-search_form
    input.image-search_form-query(type='text' placeholder='Søk og finn passende bilde')
    button.image-search_form-button
      svg.icon.icon--search: use(xlink:href="/assets/symbol-defs.svg#icon-search")
  .image-search_border
  .image-search_text
    p Søket på "ndla" ga 16 resultater
.image_list
  .image_list-item
    .image_list-item-inner
      img(src="http://api.test.ndla.no/images/thumbs/sp2e9843.jpg")
  .image_list-item.image_list-item--active
    .image_list-item-inner
      img(src="http://api.test.ndla.no/images/thumbs/64078945_0.jpg")
    .image-preview
      .image-preview_image
        img(src="http://api.test.ndla.no/images/full/64078945_0.jpg")
      .image-preview_information
        h2.image-preview_title Ungdommer holder en globus
        .image-prieview_copyright-author
          b.image-preview_text--left Opphav
          span.image-preview_text--right NTB scanpix
        .image-prieview_license
          b.image-preview_text--left Lisens
          span.image-preview_text--right Creative Commons Attribution-NonCommercial-ShareAlike 2.0 Generic
        .image-preview_tags
          b Tagger
          span.tag_item globus
          span.tag_item ungdommer
          span.tag_item verden
        button.button.button--primary.button--block Bruk bildet
    .clear
  .image_list-item
    .image_list-item-inner
      img(src="http://api.test.ndla.no/images/thumbs/taa1787e.jpg")
  .image_list-item
    .image_list-item-inner
      img(src="http://api.test.ndla.no/images/thumbs/statsbudsjettet_2016_0.png")
  .image_list-item
    .image_list-item-inner
      img(src="http://api.test.ndla.no/images/thumbs/42-27941529_1.jpg")
  .image_list-item
    .image_list-item-inner
      img(src="http://api.test.ndla.no/images/thumbs/sy807a72.jpg")
  .image_list-item
    .image_list-item-inner
      img(src="http://api.test.ndla.no/images/thumbs/taa1623f.jpg")
  .image_list-item
    .image_list-item-inner
      img(src="http://api.test.ndla.no/images/thumbs/skjermbilde_2015-09-18_kl._17.11.49.png")
  .image_list-item
    .image_list-item-inner
      img(src="http://api.test.ndla.no/images/thumbs/syba599c.jpg")
  .image_list-item
    .image_list-item-inner
      img(src="http://api.test.ndla.no/images/thumbs/20131021-102630-8_2.jpg")
  .image_list-item
    .image_list-item-inner
      img(src="http://api.test.ndla.no/images/thumbs/20130917-180020-8.jpg")
  .image_list-item
    .image_list-item-inner
      img(src="http://api.test.ndla.no/images/thumbs/42-27941520_0.jpg")
  .image_list-item
    .image_list-item-inner
      img(src="http://api.test.ndla.no/images/thumbs/amtmann_graff_med_familie_beskj_0.jpg")
  .image_list-item
    .image_list-item-inner
      img(src="http://api.test.ndla.no/images/thumbs/k2a.jpg")
  .image_list-item
    .image_list-item-inner
      img(src="http://api.test.ndla.no/images/thumbs/j2a.jpg")
  .image_list-item
    .image_list-item-inner
      img(src="http://api.test.ndla.no/images/thumbs/i2a.jpg")
