.learningpath-general-info
  .learningpath-general-info_h
    h3 Learning path title
  .learningpath-general-info_b
    svg.icon.icon--person.icon--with-label: use(xlink:href="/assets/symbol-defs.svg#icon-person")
    svg.icon.icon--today.icon--with-label: use(xlink:href="/assets/symbol-defs.svg#icon-today")
    | 24.05.2015
    svg.icon.icon--query-builder.icon--with-label: use(xlink:href="/assets/symbol-defs.svg#icon-query_builder")
    | 4 timer
  a.cta-link.cta-link--round.edit_learningpath--button(href="/pages/rediger-laeringssti") Endre detaljer
  
