.learningpath-general-info
  h3.learningpath-general-info_h Bottom Hole Assembly
  .learningpath-general-info_b
    span.labeled-icon
      svg.icon.icon--person.icon--with-label: use(xlink:href="/assets/symbol-defs.svg#icon-person")
      span.labeled-icon_text(rel="author") Remi Løvik
    span.labeled-icon
      svg.icon.icon--today.icon--with-label: use(xlink:href="/assets/symbol-defs.svg#icon-today")
      time.labeled-icon_text 01.01.16
    span.labeled-icon
      svg.icon.icon--query-builder.icon--with-label: use(xlink:href="/assets/symbol-defs.svg#icon-query_builder")
      time.labeled-icon_text 10 timer
