.masthead
  .masthead--mobile
    h1.logo: a.logo_link(href='/pages') Nasjonal digital læringsarena
    .masthead-button--right.active
      svg.icon.icon--menu.icon--with-label: use(xlink:href="/assets/symbol-defs.svg#icon-menu")
      span Meny
  .masthead--desktop.sidebar--open
    .masthead_left--desktop
      h1.logo.logo: a.logo_link(href='/pages') Nasjonal digital læringsarena
    .masthead_right--desktop
      include ./site-nav.jade
.masthead--margin-bottom
