.search-result
  img.search-result_img(src='http://placehold.it/600x600')
  .search-result_bd
    h2.search-result_title En læringssti
    .search-result_meta
      span.search-result_author
        svg.icon.icon--gray.icon--person: use(xlink:href="/assets/symbol-defs.svg#icon-person")
        a(href="#" rel="author") Hans Hansen
      span.search-result_changed-date
        svg.icon.icon--gray.icon--today: use(xlink:href="/assets/symbol-defs.svg#icon-today")
        time 01.01.16
      span.search-result_duration
        svg.icon.icon--gray.icon--query-builder: use(xlink:href="/assets/symbol-defs.svg#icon-query_builder")
        time 10 timer

    .search-result_description
      p Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.
