form.search-form.search-form--dark
  input.search-form_query(type='text' placeholder='Søk etter læringsstier')
  button.search-form_btn Søk
  select.search-form_sort-order
    option Relevans
    option Nyeste
    option Eldste
    option Lengste
    option Korteste
    option Alfabetisk
