.serach-stepper
    a.search-stepper--step(href="#")
      svg.icon.icon--arrow-back: use(xlink:href="/assets/symbol-defs.svg#icon-arrow_back")
    a.search-stepper--step.search-stepper--step--active(href="#") 1
    a.search-stepper--step(href="#") 2
    a.search-stepper--step(href="#") 3
    a.search-stepper--step(href="#") 4
    a.search-stepper--step(href="#") 5
    a.search-stepper--step(href="#")
      svg.icon.icon--arrow-forward: use(xlink:href="/assets/symbol-defs.svg#icon-arrow_forward")

