.search-stepper
  a.search-stepper_step(href="#")
    svg.icon.icon--arrow-back: use(xlink:href="/assets/symbol-defs.svg#icon-arrow_back")
  a.search-stepper_step(href="#") 19
  a.search-stepper_step(href="#") 20
  a.search-stepper_step(href="#") 21
  a.search-stepper_step(href="#") 22
  span.search-stepper_step.search-stepper_step--active 23
