

a(href='/pages/laeringssti' style='text-decoration: none;') 
  .search-result
      .img-cropper
        img.search-result_img(src='http://api.ndla.no/images/thumbs/kontraster2.jpg')
      .search-result_bd
        h2.search-result_title Hvordan går du frem for å bli vetrenær
        .search-result_meta
          span.labeled-icon
            svg.icon.icon--today.icon--with-label: use(xlink:href="/assets/symbol-defs.svg#icon-today")
            time.labeled-icon_text 01.01.16
          span.labeled-icon
            svg.icon.icon--query-builder.icon--with-label: use(xlink:href="/assets/symbol-defs.svg#icon-query_builder")
            time.labeled-icon_text 10 timer

        .search-result_description
          p En innføring i komposisjonsprinsipper i grafisk design med vekt på kontrast og balanse.


  .search-result
      .img-cropper
        img.search-result_img(src='http://api.ndla.no/images/thumbs/saape_stnd.jpg')
      .search-result_bd
        h2.search-result_title Gårdsbruk, slik går maten fra gården til matbodret
        .search-result_meta
          span.labeled-icon
            svg.icon.icon--today.icon--with-label: use(xlink:href="/assets/symbol-defs.svg#icon-today")
            time.labeled-icon_text 01.01.16
          span.labeled-icon
            svg.icon.icon--query-builder.icon--with-label: use(xlink:href="/assets/symbol-defs.svg#icon-query_builder")
            time.labeled-icon_text 10 timer

        .search-result_description
          p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque.


  .search-result
      .img-cropper
        img.search-result_img(src='http://api.ndla.no/images/thumbs/0090498_-_aasta_hansteen_-_photo_-_statoil_1.jpg')
      .search-result_bd
        h2.search-result_title Norsk arkitektur, en historie om hvordan den nye arktitekturen ble skapt i et lite land som Norge
        .search-result_meta
          span.labeled-icon
            svg.icon.icon--today.icon--with-label: use(xlink:href="/assets/symbol-defs.svg#icon-today")
            time.labeled-icon_text 01.01.16
          span.labeled-icon
            svg.icon.icon--query-builder.icon--with-label: use(xlink:href="/assets/symbol-defs.svg#icon-query_builder")
            time.labeled-icon_text 10 timer

        .search-result_description
          p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Penatibus et magnis dis p


  .search-result
      .img-cropper
        img.search-result_img(src='http://api.ndla.no/images/thumbs/img_2871.jpg')
      .search-result_bd
        h2.search-result_title Slik kan egentrening gir styrke og vellvære
        .search-result_meta
          span.labeled-icon
            svg.icon.icon--today.icon--with-label: use(xlink:href="/assets/symbol-defs.svg#icon-today")
            time.labeled-icon_text 01.01.16
          span.labeled-icon
            svg.icon.icon--query-builder.icon--with-label: use(xlink:href="/assets/symbol-defs.svg#icon-query_builder")
            time.labeled-icon_text 10 timer

        .search-result_description
          p Lorem ipsum dolor sit amet, consectetuer.


  .search-result
      .img-cropper
        img.search-result_img(src='http://api.ndla.no/images/thumbs/sp5e86d5_redigert_0.jpg')
      .search-result_bd
        h2.search-result_title Hvordan bruke lekenhet til å bygge kreativitet
        .search-result_meta
          span.labeled-icon
            svg.icon.icon--today.icon--with-label: use(xlink:href="/assets/symbol-defs.svg#icon-today")
            time.labeled-icon_text 01.01.16
          span.labeled-icon
            svg.icon.icon--query-builder.icon--with-label: use(xlink:href="/assets/symbol-defs.svg#icon-query_builder")
            time.labeled-icon_text 10 timer

        .search-result_description
          p Lorem ipsum dolor sit amet, consectetuer adipiscing elit.


  .search-result
      .img-cropper
        img.search-result_img(src='http://api.ndla.no/images/thumbs/42-33811927.jpg')
      .search-result_bd
        h2.search-result_title Kunst på tvers av landegrenser
        .search-result_meta
          span.labeled-icon
            svg.icon.icon--today.icon--with-label: use(xlink:href="/assets/symbol-defs.svg#icon-today")
            time.labeled-icon_text 01.01.16
          span.labeled-icon
            svg.icon.icon--query-builder.icon--with-label: use(xlink:href="/assets/symbol-defs.svg#icon-query_builder")
            time.labeled-icon_text 3 timer

        .search-result_description
          p Croppa adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis p


  .search-result
      .img-cropper
        img.search-result_img(src='https://unsplash.it/544/300?image=1068')
      .search-result_bd
        h2.search-result_title Komposisjon og design av bøker fra 1450 til 2010
        .search-result_meta
          span.labeled-icon
            svg.icon.icon--today.icon--with-label: use(xlink:href="/assets/symbol-defs.svg#icon-today")
            time.labeled-icon_text 01.01.16
          span.labeled-icon
            svg.icon.icon--query-builder.icon--with-label: use(xlink:href="/assets/symbol-defs.svg#icon-query_builder")
            time.labeled-icon_text 10 timer

        .search-result_description
          p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis p


  .search-result
      .img-cropper
        img.search-result_img(src='https://unsplash.it/424/300?image=1069')
      .search-result_bd
        h2.search-result_title Introdusjoon til bilens historie
        .search-result_meta
          span.labeled-icon
            svg.icon.icon--today.icon--with-label: use(xlink:href="/assets/symbol-defs.svg#icon-today")
            time.labeled-icon_text 01.01.16
          span.labeled-icon
            svg.icon.icon--query-builder.icon--with-label: use(xlink:href="/assets/symbol-defs.svg#icon-query_builder")
            time.labeled-icon_text 10 timer

        .search-result_description
          p Si dipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis p
