.site-nav
  ul.site-nav_list
    li.site-nav_item
      a.site-nav_link.labeled-icon(href='/pages/search')
        svg.icon.icon--search.icon--with-label: use(xlink:href="/assets/symbol-defs.svg#icon-search")
          span.labeled-icon_text Finn læringssti
  li.site-nav_item
    a.site-nav_link.labeled-icon(href='/pages/minestier')
      svg.icon.icon--apps.icon--with-label: use(xlink:href="/assets/symbol-defs.svg#icon-apps")
        span.labeled-icon_text Min læringsstier
  li.site-nav_item.site-nav_item--with-sep
    a.site-nav_link.labeled-icon(href='home')
      span.labeled-icon_text Logg ut Ola Normann
      svg.icon.icon--gray.icon--exit_to_app.icon--with-label: use(xlink:href="/assets/symbol-defs.svg#icon-exit_to_app")

