.stepper-nav.stepper-nav--fixed
  a.stepper-nav-btn
    svg.icon.icon--with-label.icon--arrow-back: use(xlink:href="/assets/symbol-defs.svg#icon-arrow_back") 
    span Forrige
  a.stepper-nav-btn
    span Neste
    svg.icon.icon--with-label.icon--arrow-forward: use(xlink:href="/assets/symbol-defs.svg#icon-arrow_forward") 
