- var active_index = STEP_NAV_ACTIVE_INDEX || 0;
.step-nav
  ul.step-nav_list
    li.step-nav_item(class=i == active_index ? 'step-nav_item--active' : ''): a.step-nav_link(href='#') Introdukjson
    li.step-nav_item(class=active_index == 0 ? 'step-nav_item--active' : ''): a.step-nav_link(href='#') Nytt læringssteg

