- var active_index = STEP_NAV_ACTIVE_INDEX || 0;
.step-nav
  ul.step-nav_list
    li.step-nav_item(class=i == active_index ? 'step-nav_item--active' : ''): a.step-nav_link(href='#') 
      .step-nav_line
      .step-nav_circle
        svg.icon.icon--with-label.icon--add-circle-outline: use(xlink:href="/assets/symbol-defs.svg#icon-add_circle_outline")
      .step-nav_title Introdukjson
    li.step-nav_item(class=active_index == 0 ? 'step-nav_item--active' : ''): a.step-nav_link(href='#') 
      .step-nav_line
      .step-nav_circle
        svg.icon.icon--with-label.icon--add-circle-outline: use(xlink:href="/assets/symbol-defs.svg#icon-add_circle_outline")
      .step-nav_title Bruksområde
