.tooltip-example
  .tooltip.tooltip--top
    .tooltip_arrow
    .tooltip_content Tooltip on the top
  .tooltip.tooltip--right
    .tooltip_arrow
    .tooltip_content Tooltip on the right
  .tooltip.tooltip--bottom
    .tooltip_arrow
    .tooltip_content Tooltip on the bottom
  .tooltip.tooltip--left
    .tooltip_arrow
    .tooltip_content Tooltip on the left
