ul.vertical-menu
  li.vertical-menu_item
    a.cta-link.cta-link--block.labeled-icon(href="#")
      svg.icon.icon--collections.labeled-icon--with-label: use(xlink:href="/assets/symbol-defs.svg#icon-collections")
      span.labeled-icon_text Forhåndsvisning
  li.vertical-menu_item
    a.cta-link.cta-link--block.labeled-icon(href="#")
      svg.icon.icon--save.icon--with-label: use(xlink:href="/assets/symbol-defs.svg#icon-save")
      span.labeled-icon_text Lagre som utkast
  li.vertical-menu_item
    a.button.button--outline.cta-link--block.labeled-icon(href="#")
      span.labeled-icon_text Lagre og publiser
      svg.icon.icon--arrow-forward.icon--with-label: use(xlink:href="/assets/symbol-defs.svg#icon-arrow_forward")
