.learning-path-wrapper{
	display: flex;
	min-height: 100vh;
}

.learning-path-content{
	flex-basis: 800px;
	flex-grow: 2;
	flex-shrink: 7;
	padding: 4% 10%;
	background-color: white;
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.learning-path_bd{
	max-width: 700px;
}

.learning-path-primary-nav {
	flex-basis: 300px;
	flex-grow: 0;
	background-color: red;
	background-color: #f8f8f8;
	padding-left: 1em 0em 0em 0em;
	padding-top: 40px;
	position: relative;
	flex-direction: column;
	height: 100%;	
}


.learning-path-primary-nav ul {
	padding: 0px;
	margin: 0px;
}

.learning-path-primary-nav li {
    list-style: none;
    position: relative;
    z-index: 1;
    list-style-position: inside;
}

.learning-path-primary-nav li a{
	display: block;
	padding: 1.5em 1em 1.5em 5em;
	line-height: 1.2em;
	background-size: 9%;
	text-decoration: none;
	color: #797979;
}

.learning-path-primary-nav li a:hover{
	background-color: #eaeaea;
	z-index: -30;
	transition: background-color 0.5s ease;
}

.learning-path-primary-nav li:before{
	content: "";
	border-left: 2px solid #797979;
	position: absolute;
	left: 47px;
	height: 100%;
	z-index: -1;
	top: 0;
}

.learning-path-primary-nav a:after{
	content: "";
	border-left: 2px solid #797979;
	position: absolute;
	left: 33px;
	height: 25px;
	width: 25px;
	background-color: white;
	border-radius: 50px;
	border: 3px solid #797979;
	z-index: 1;
	top: 19px;
}


.learning-path-primary-nav li:last-child:before{
	height: 50%;
}

.learning-path-primary-nav li:first-child:before{
	height: 100%;
	top: 30px;
}

.learning-path-primary-nav h3{
	margin-left: 35px;
}

.learning-path_meta{
	font-size: 0.7em;
	line-height: 1.6em;	
	color: #666;
}

