#login{
	text-align: center;
	padding-top: 3em;
	max-width: 300px;
	margin: 0 auto;
}

#login ul{
	padding: 0px;
}

#login ul li{
	list-style: none;
}

#login ul li a.cta{
	display: inline-block;
	width: 100%;
	margin-top: 1em;
}