.alert {
  padding: 1.2em 1.5em 1em;
  border: 1px solid;
  border-radius: 5px;
  margin: 1em;
  font-weight: 300;
}

.alert--success {
  background-color: color(var(--green-1) lightness(+ 30%));
  border-color: color(var(--green-1) lightness(+ 20%));
}

.alert--info {
  background-color: color(var(--blue-1) lightness(+ 60%));
  border-color: color(var(--blue-1) lightness(+ 55%));
}

.alert--warning {
  background-color: color(var(--yellow-1) lightness(+ 20%));
  border-color: color(var(--yellow-1) lightness(+ 0%));
}

.alert--danger {
  background-color: color(var(--red-1) lightness(+ 22%));
  border-color: color(var(--red-1) lightness(+ 5%));
  color: var(--red-2);
}

.alert_msg {
  line-height: 1.625em;
  font-size: 16px;
}

.alert_dismiss svg {
  float: right;
  font-size: 1.2em;
  margin-top: .1em;
  margin-right: .3em;
}
