.cta-link {
  transition: background-color 0.3s ease;
  display: inline-block;
  padding: 1em;
  border-radius: 5px;
  border: 2px solid var(--blue-1);
  background-color: var(--blue-1);
}


.cta-link:link, .cta-link:visited {
  background-color: var(--blue-1);
  color: white;
  text-decoration: none;
}

.cta-link:hover, .cta-link:active {
  background-color: color(var(--blue-1) blackness(+ 20%));
  border: 2px solid color(var(--blue-1) blackness(+ 20%));
}

.cta-link--block {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.cta-link--gl:link, .cta-link--gl:visited {
  background-color: #f44336;
  border: none;
}

.cta-link--gl:hover, .cta-link--gl:active {
  background-color: color(#f44336 blackness(+ 20%));
  border: none;
}

.cta-link--fb:link, .cta-link--fb:visited {
  background-color: #3b5998 ;
  border: none;
}

.cta-link--fb:hover, .cta-link--fb:active {
  background-color: color(#3b5998 blackness(+ 20%));
  border: none;
}

.cta-link--tw:link, .cta-link--tw:visited {
  background-color: #0084b4;
  border: none;
}

.cta-link--tw:hover, .cta-link--tw:active {
  background-color: color(#0084b4 blackness(+ 20%));
  border: none;
}

.cta-link--negative:any-link{
  background-color: white;
  border-color: white;
  color: var(--blue-1);
}
.cta-link--negative:any-link:hover{
  background-color: red;
  border-color: white;
  color: var(--blue-1);
}

