.cta-link {
  transition: background-color 0.3s ease;
  display: inline-block;
  padding: 1em;
  border-radius: 5px;
  border: 2px solid var(--blue-1);
}

.cta-link--text{
	color: var(--blue-1);
}

.cta-link:link, .cta-link:visited {
  background-color: var(--blue-1);
  color: white;
  text-decoration: none;
}

.cta-link:hover, .cta-link:active {
  background-color: color(var(--blue-1) blackness(+ 20%));
  border: 2px solid color(var(--blue-1) blackness(+ 20%));
}

.cta-link--negative {
  border: 2px solid white;
  background-color: white;
  color: var(--blue-1);
}

.cta-link--negative:hover, .cta-link--negative:active {
  color: white;
  border: 2px solid color(var(--blue-1) blackness(+ 20%));
  background-color: color(var(--blue-1) blackness(+ 20%));
}

.cta-link--secondary:link, .cta-link--secondary:visited {
  background-color: transparent;
  color: var(--blue-1);
}

.cta-link--secondary-negative:link, .cta-link--secondary-negative {
  border: 2px solid white;
  color: white;
}

.cta-link--secondary:hover, .cta-link--secondary:active {
  color: white;
  border: 2px solid color(var(--blue-1) blackness(+ 20%));
  background-color: color(var(--blue-1) blackness(+ 20%));
}



.cta-link--gl:link, .cta-link--gl:visited {
	background-color: #F44336;
	border: none;
}

.cta-link--gl:hover, .cta-link--gl:active {
	background-color: color(#F44336 blackness(+ 20%));
	border: none;
}

.cta-link--fb:link, .cta-link--fb:visited {
	background-color: #3b5998 ;
	border: none;
}

.cta-link--fb:hover, .cta-link--fb:active {
	background-color: color(#3b5998 blackness(+ 20%));
	border: none;
}

.cta-link--tw:link, .cta-link--tw:visited {
	background-color: #0084b4;
	border: none;
}

.cta-link--tw:hover, .cta-link--tw:active {
	background-color: color(#0084b4 blackness(+ 20%));
	border: none;
}
