.dropdown-menu li {
  margin: 0;
  list-style: none;
}

.dropdown-menu ul {
  float: right;
}

.dropdown-menu a {
  color: #919191;
}

.dropdown-menu > ul > li {
  display: inline-block;
  position: relative;
  font-size: 19px;
}

.dropdown-menu > ul > li > button {
  padding: 10px 40px;
  display: inline-block;
  text-shadow: 0 1px 0 rgba(0,0,0,0.4);
}

div.dropdown-menu > ul > li > ul.dropdown-items:after {
  position: absolute;
  left: 25%;
  top: -8px;
  width: 0;
  height: 0;
  content: '';
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #ffffff;
}

.dropdown-menu li:hover .dropdown-items {
  opacity: 1;
}

.dropdown-items {
  width: 160%;
  position: absolute;
  top: 100%;
  left: 0;
  opacity: 0;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  background: #ffffff;
}

.dropdown-items li a {
  padding: 10px 30px;
  display: block;
  text-decoration: none;
}

.dropdown-items li a:hover, .dropdown-items a {
  text-decoration: underline;
}
