.page-header {
  color: white;
  background-color: var(--blue-1);
  padding: .5em 1em .5em 3em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.page-header_name {
  font-weight: normal;
  font-size: 1.6em;
}
