.tile {
  width: 22%;
  margin: 1.5% 1.5% 1em;
  padding: 1em 2.5em 3.5em 2.5em;
  background-color: white;
  min-height: 23em;
  flex-wrap: wrap;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  border: 2px solid white;
}

@media (max-width: 1450px) {
  .tile{
    width: 30%;
    margin: 1.655555%;
    margin-bottom: 1em;
  }
}


@media (max-width: 900px) {
  .tile{
    width: 46%;
    margin: 2%;
    margin-bottom: 1em;
  }
  .tile:last-child{
    margin-right: 5%;
  }
}

@media (max-width: 650px) {
  .tile{
    width: 98%;
    margin: 2%;
    margin-bottom: 1em;
  }
  .tile:last-child{
    margin-right: 5%;
  }
}
