.add-learting-step{
  margin-top: 2em;
  background-color: black;
  text-align: center;
  padding: 1.5em 3em;
  text-decoration: none;
  border-radius: 90px;
  display: flex;
  justify-content: center;
  color: white !important;
}

.add-learting-step:hover{
  background-color: whie;
}
