.hero {
  height: 600px;
  background: var(--blue-1);
  padding: 0 20% 0 20%;
  text-align: center;
  color: white;
}

.hero_title {
  font-weight: normal;
  text-align: center;
}

.hero_link {
  margin: 0 .5em;
}
