
.image-search_border {
  margin: 1em -2em;
  height: 1px;
  border-bottom: 1px solid var(--gray-10);
}
.image-search-form {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 1em;
}
.image-search-form_btn {
  background-color: var(--gray-3);
  width: 7%;
  height: 3em;
  display: inline-block;
  margin-left: -2px;
  border: 2px solid var(--gray-3);
  border-radius: 0 5px 5px 0;
  padding: 0.4em;

}
.image-search-form_btn .icon {
  font-size: 1.5em;
}
input[type=text].image-search-form_query {
  width: 93%;
  height: 3em;
  box-shadow: none;
  display: inline-block;
  border-width: 2px;
  float: left;
  border-radius: 5px 0 0 5px ;
}
.lightbox_image-preview .lightbox {
  overflow-x: scroll;
}
.lightbox_image-preview .lightbox .lightbox_content {
  max-width: 870px;
  overflow-x: scroll;
}

.image_list-item {
  max-width: 25%;
  max-height: 200px;
  height: 200px;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.image_list-item--active {
  margin-bottom: 300px;
}
.image_list {
  overflow-x: scroll;
  display: flex;
  align-items: stretch;
  flex-flow: row wrap;
  justify-content: center;
  position: relative;
}
.image_list-item-inner {
  padding: 0.5em;
}

.image_list-item-inner > img {
  width:100%;
  min-width:100%;
  min-height:100%;
  border: 2px solid white;
}
.image_list-item-inner > img:hover, .image_list-item--active > .image_list-item-inner > img {
  border: 2px solid var(--blue-1);
}
.image_list-item--active > .image_list-item-inner:after {
  bottom: 0;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #88b7d5;
	border-width: 0.5em;
	margin-left: -30px;
}

.image-preview {
  position: absolute;
  left: 8px;
  width: 100%;
  overflow-x: scroll;
  margin-top: 200px;
  margin-right: 5%;
  background-color: var(--gray-12);
  padding: 1em;
}
.image-preview_image {
  width: 50%;
  display: inline-block;
  float: left;
}
.image-preview_image img {
  max-width: 100%;
  max-height: 300px;
}
.image-preview_information {
  width: 50%;
  display: inline-block;
  padding-left: 1em;
}
.image-preview_information > *{
  padding-top: 1em;
}
.image-preview_title {
  padding-top: 0;
  margin: 0;
}
.image-preview_text--left{
  width: 20%;
  display: inline-block;
  float: left;
}
.image-preview_text--right {
  width: 80%;
  display: inline-block;
}
.image-preview_tags > b {
  display: block;
  margin-bottom: 1em;
}
.image-preview_information > .button {
  padding-top: 1em;
  border-radius: 0.2em;
}
@media(--medium-viewport) {
  .image-search-form_btn {
    width: 10%;
  }
  input[type=text].image-search-form_query {
    width: 90%;
  }
}
@media(--small-viewport) {
  .image-search-form_btn {
    width: 20%;
  }
  input[type=text].image-search-form_query {
    width: 80%;
  }
}
