.learning-path_hd {
  padding-top: 3em;
}

.learning-path_bd {
  padding-bottom: 2em;
}

.learning-path_meta {
  font-size: 0.7em;
  line-height: 1.6em;
  color: var(--gray-4);
}

.new-learningpath-button {
  color: white;
  position: fixed;
  padding: 1em 2em 1em 2em;
  right: 30px;
  bottom: 30px;
  border-radius: 40px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
}

.new-learningpath-button:hover {
  color: white;
}
''
.learning-path_editable-hinttext {
  color: var(--gray-7);
}

.learning-path_editable-hinttext:before {
  content: url(https://upload.wikimedia.org/wikipedia/commons/7/7e/Edit_icon.svg);
  display: block;
  color: var(--gray-10);
  width: 10px;
  height: 10px;
  font-size: 10px;
  padding: .7em;
  margin-left: -4em;
  margin-bottom: -4em;
  margin-top: 2em;
  border: 1px solid var(--gray-7);
  border-radius: 30px;
}

.learning-path_editable-hinttext:hover:before {
  opacity: 1;
}

.learning-path_editable-hinttext:focus{
  outline-style: none;
  color: black;
}
