.learning-path_hd {

}


.learning-path_bd {
  border-bottom: 2px solid var(--gray-9);
  padding-bottom: 2em;
  margin-bottom: 3em;
}

.learning-path_meta {
  font-size: 0.7em;
  line-height: 1.6em;
  color: var(--gray-4);
}