.learning-path-form {
  max-width: 900px;
}

.learning-path_hd {
  padding-top: 3em;

  & > h1 {
    font-weight: 500;
  }
}

.learning-path_bd {
  padding-bottom: 2em;
  word-break: break-all;
}

.learning-path_margin {
  height: 76px;
}

.learning-path_meta {
  font-size: 0.7em;
  line-height: 1.6em;
  color: var(--gray-4);
}

.new-learningpath-button {
  color: white;
  position: fixed;
  padding: 1em 2em 1em 2em;
  right: 30px;
  bottom: 30px;
  border-radius: 40px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
}

.new-learningpath-button:hover {
  color: white;
}

.learning-path_editable-hinttext {
  color: var(--gray-7);
}

.learning-path-input {
  border: none;
  box-shadow: none;
  padding: 0;
  width: 100%;
  background-color: transparent;

  & .error_message {
    font-size: 1em;
  }
}

.learning-path-input:focus {
  outline-style: none;
  color: black;
}

.learning-path-input__title {


  & input {
    width: 100%;
    font-size: 1.2em;
    margin-top: 0;
    font-weight: 600;
    font-family: 'Signika', Helvetica, Arial, sans-serif;
  }

}

.learning-path-input__paragraph {
  margin-bottom: 1.5em;
  margin-top: 1em;

  & textarea {
    font-size: 1em;
    font-weight: 200;
    line-height: 1.6em;
  }
}
.learning-path_input-information {
  font-size: 0.9em;
  color: var(--gray-6);
  font-weight: 100;
  margin-top: 0;
}

.learning-path-image button {
  padding: 0.7em 1em;
  border-radius: 0.2em;
  margin-bottom: 1em;
}

.input-duration {
  display: inline;
  width: 6em;
  margin-right: 10px;
}


.duration-menu {
  display: inline;
  margin-right: 10px;
}


.duration-menu-item {
  display: inline;
  font-size: 1em;
  padding: .6em .8em;
  background-color: var(--gray-10);
  border: 1px solid var(--gray-7);
  border-left: none;
}

.duration-menu-item:hover {
  background-color: var(--gray-7);
}

.duration-menu-item__selected {
  background-color: var(--blue-1);
  color: white;
  border: 1px solid var(--blue-1);
}

.duration-menu-item__selected:hover {
  background-color: var(--blue-2);
  color: white;
  border: 1px solid var(--blue-2);
}

.duration-menu-item:first-child {
  border-radius: 5px 0 0 5px;
  border-left: 1px solid var(--gray-7);
}


.duration-menu-item:last-child {
  border-radius: 0 5px 5px 0;
}
.duration-menu-item__disabled {
  pointer-events: none;
  background-color: var(--gray-8);
  color: var(--gray-3);
}

.copy_learning-path {
  & .button {
    width: 48%;
    outline: none;
  }

  & .button-copy_abort {
    background-color: white;
    color: var(--blue-1);
    border: 2px solid var(--blue-1);
    margin-right: 1%;
  }
  & .button-copy_abort:hover {
    background-color: var(--blue-1);
    color: white;
    border: 2px solid var(--blue-1);
    margin-right: 1%;
  }

  & .button-copy_save {
    background-color: var(--blue-1);
    color: white;
    border: 2px solid var(--blue-1);
    margin-right: 1%;
  }
  & .button-copy_save:hover {
    background-color: white;
    color: var(--blue-1);
    border: 2px solid var(--blue-1);
    margin-right: 1%;
  }
}
.sort-steps_button {
  margin: 1em 0;
  text-align: center;
  text-decoration: none;
  padding: 0.6em 0.8em;
  background-color: var(--gray-10);
  color: black;
  display: block;
}
.sort-steps_button:hover {
  background-color: var(--gray-7);
}
.sort-steps_button > .icon {
  font-size: 1.2em;
}
.add-learningpath-step {
  padding: 0 .5em;
}
.add-learningpath-step_button {
  text-align: left;
  padding-left: 1.3em;
}
.add-learningpath-step_button > .plus-sign--circle {
  margin-right: .7em;
  background-color: var(--gray-11);
  padding: 3px 11px 3px;
  color: var(--blue-1);
  border-radius: 40px;
  display: inline;
  font-size: 1.4em;
}
.add-learningpath-step_button:hover > .plus-sign--circle {
  background-color: white;
  color: var(--blue-1);
}
.add-learningpath-step_line {
  border-left: 5px solid  var(--gray-11);
  height: 25px;
  margin-top: -40px;
  margin-left: 36px;
}
.learning-path_save-buttons {
  padding: 0 0.5em;
}
.learning-path_save-buttons button {
  width: 50%;
  display: inline-block;
  padding: 1.1em 0.3em;
}
.learning-path_save-buttons {
  & button:first-child {
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  & button:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
@media(max-width: 800px) {
  .copy_learning-path {
    & .button {
      width: 100%;
      margin: 0;
      margin-top: 1em;
    }
  }
}
