.masthead {
  padding: 1em 2em 0;
  width: 100%;
  min-height: 4em;
  position: fixed;
  top: 0;
  z-index: 999;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.masthead_left { }

.masthead_center { }

.masthead_right { }

@media (max-width: 640px) {
  .masthead {
    flex-direction: column;
  }
}
