.masthead {
  top: 0;
  z-index: 999;
  width: 100%;
  border-bottom: 1px solid var(--gray-7);
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.masthead_left {
  padding: 12px 0 0 1em;
}

.masthead_right {
  padding: 0 1em 0 0;
}

@media (max-width: 640px) {
  .masthead {
    flex-direction: column;
  }
}
