.masthead {
  padding: 1em 2em 0;
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid #d8d8d8;
  background-color: #fff;
  padding: 10px 0;
  border-bottom: 1px solid #d8d8d8;
  background-color: #fff;
  position: fixed;
  top: 0;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.masthead_left { }

.masthead_center { }

.masthead_right { }

@media (max-width: 640px) {
  .masthead {
    flex-direction: column;
  }
}
