.serach-stepper{
	display: flex;
	justify-content: center;
	margin-top: 3em;
}

.search-stepper--step{
	display: inline;
	border: 2px solid var(--gray-7);
	padding: 1em 1.45em;
	margin: 1em .3em 0em .3em;
	border-radius: 5px;
	text-decoration: none;
}


.search-stepper--step:hover{
	background-color: var(--gray-7);
	border-color: var(--gray-7);
}


.search-stepper--step--active{
	background-color: var(--gray-7);
	border-color: var(--gray-7);
}