.search-results {
  padding: 0 0 3em;
  max-width: 920px;
  margin: 0 auto;
}
.search-results a {
  text-decoration: none;
}
.search-result {
  display: flex;
  margin: 0 1em 0 0;
  padding: 3em 5em 3em 2em;
  border-bottom: 1px solid var(--gray-8);
  transition: all 0.1s;
}

.search-result:hover {
  background: color(var(--blue-1) a(5%));
}

.search-result_img {
  max-width: 100%;
}
.search-result_img_container {
  margin: 1em;
  padding-top: 0.82em;
  width: 30%;
}

.search-result_bd {
  padding: .5em 2em;
  flex: 1;
  width: 70%;
}

.search-result_title {
  font-size: 1.8em;
  margin-bottom: .2em;
}

.search-result_meta {
  font-size: 1em;
  font-weight: 100;
}

.search-result:hover {
  transition: all 0.25s ease;
}


.search-result_description {
  font-size: 1.2em;
  font-weight: 100;
  margin-top: .5em;
}
.search-result_introduction {
  height: 0;
  overflow: hidden;
  &.search-result_introduction--open {
    height: inherit;
    overflow: inherit;
  }
}
.show-introduction_button {
  color: var(--blue-1);
  text-decoration: underline;
  font-size: 0.9em;
  padding: 1em 0;
  font-weight: 600;
  display: block;
  & .icon {
    font-size: 1.2em;
  }
}
.search-result_tags {
  padding: 1em 0;
}
.search-result_tag {
  display: inline-block;
  padding: .4em 1em;
  background-color: var(--gray-10);
  color: var(--gray-3);
  margin-right: .2em;
  margin-bottom: .4em;
  border-radius: 1em;
}
.search-result_tag:hover {
  background-color: var(--gray-7);
  color: black;
}
.search-result_tag--active {
  background-color: var(--blue-1);
  color: white;
}
.search-result_tag--active:hover {
  background-color: var(--blue-1);
  color: white;
}
.ndla-approved {
  border-radius: 5px;
  color: var(--blue-1);
  border: 2px solid var(--blue-1);
  padding: .4em;
  border-left: 1em solid var(--blue-1);
}
