
.search--layout{
	padding: 2em 0em 2em 0em;
}

.input-search:focus{
	box-shadow: none !important;
	border-color: white !important;
}

.input-search{
	flex: 2;
	width: 100%;
	height: 3.5em;
}

.btn-search{
	margin-left: -4.5em;
}

.btn-search--negative{
	border: 3px solid white;
}

.search-filter{
	margin-left: 1em;
	min-width: 6em;
	height: 3.5em;
}