.search-results {
  padding: 0 0 3em;
  max-width: 920px;
  margin: 0 auto;
}
.search-results a {
  text-decoration: none;
}
.search-result {
  display: flex;
  margin: 0 1em 0 0;
  padding: 3em 5em 3em 2em;
  border-bottom: 1px solid var(--gray-8);
  transition: all 0.1s;
}

.search-result:hover {
  background: color(var(--blue-1) a(5%)) 
}

.search-result_img {
}

.search-result_bd {
  padding: .5em 2em;
  flex: 1;
}

.search-result_title {
  margin-bottom: .2em;
}

.search-result_meta {
  font-size: .9em;
}

.search-result:hover {
  transition: all 0.25s ease;
}
