.stepper-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  color: var(--blue-1);
  border-top: 1px solid var(--gray-7);
}

.stepper-nav_fixed {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.stepper-nav-btn {
  display: block;
  border-right: 1px solid var(--gray-7);
  border-left: 1px solid var(--gray-7);
  padding: 1.7em;
  text-decoration: none;
}

.stepper-nav-btn:hover {
  background-color: var(--blue-1);
  color: white;
}

.stepper-nav-btn_disabled {
  pointer-events: none;
  background-color: var(--gray-7);
  color: var(--gray-3);

}
