.tags_list {
  padding: 1em 0;
}
.tag_item {
  display: inline-block;
  padding: .4em 1em;
  background-color: var(--gray-10);
  color: var(--gray-3);
  margin-right: .2em;
  margin-bottom: .4em;
  border-radius: 1em;
}
.tag_item:hover {
  background-color: var(--gray-7);
  color: black;
}
.tag_item--active {
  background-color: var(--blue-1);
  color: white;
}
.tag_item--active:hover {
  background-color: var(--blue-1);
  color: white;
}
