:root {
  --tba-link-h: calc(1.2em * 2 + 1.5em);
  --tba-arrow-w: 2em;
}

.tba_h {
  margin-left: 35px;
}

.tba_list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: relative;
}

.tba_item {
  padding: 0 0 0 var(--tba-arrow-w);
  margin: 2px 0;
}

.tba_item::after {
  display: block;
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  right: 0;
  margin-top: calc(var(--tba-link-h)*-1);
  border-style: solid;
  border-color: transparent;
  border-width: calc(var(--tba-link-h)/2) 0 calc(var(--tba-link-h)/2) var(--tba-arrow-w);
}

.tba_link {
  display: block;
  position: relative;
  right: var(--tba-arrow-w);
  line-height: 1.2em;
  min-height: var(--tba-link-h);
  padding: 1.5em .5em .5em calc(5em - var(--tba-arrow-w));
}

.tba_link:link, .tba_link:visited {
  text-decoration: none;
  color: var(--gray-4);
}

.tba_link:hover, .tba_link:active {
  color: var(--blue-1);
}


.tba_item.tba_item--active:after {
  border-left-color: var(--gray-5);
}

.tba_item--active .tba_link {
  background-color: var(--gray-5);
}
