h3 Buttons

| Button is for clicking, not linking.

:example
  <button class='button'>click button</button>
  <input type='submit' class='button' value='click submit'>
  <input type='button' class='button' value='click input button'>
