h3 Form

.note
	h4 Note: Form validation usage
	p Browsers that support HTML form validation have one thing in common; if a form is submitted and has errors on multiple fields, the browser will only display the first error to the user. This leads to a non-optimal user experience. Form validation should be done for each field and be validated when criterials are met.

:example
	<form>
	  <label>Label</label>
	  <input type="text" name="firstname"><br>
	  <label>Success</label>
	  <input class="success" type="text" name="lastname">
	  <label>Alert</label>
	  <input class="alert" type="text" name="lastname">
	</form>