h3 Links

:example
  <a href="#">Plain old regular link</a>
  <a class="cta" href="#">Primary Call to Action</a>
  <a class="cta cta_secondary"href="#">Secondary Call to Action</a>
  <div class="negative">
  	<a class="cta cta_negative" href="#">Primary Call to Action</a>
  	<a class="cta cta_secondary cta_secondary_negative"href="#">Secondary Call to Action</a>
  </div>