h3 Links

:example
  <a href="#">Plain old regular link</a>

h4 Call to Action

:example
  <a class="cta-link" href="#">Primary Call to Action</a>
  <a class="cta-link cta-link--secondary" href="#">Secondary Call to Action</a>

h4 Call to Action on dark background

:example
  <div class="negative">
    <a class="cta-link cta-link--negative" href="#">Primary Call to Action</a>
    <a class="cta-link cta-link--secondary cta-link--secondary-negative" href="#">Secondary Call to Action</a>
  </div>
