extends layout

block append title
  | - atoms
block content
  h1.styleguide-title Atoms

  main.styleguide-main.styleguide-main--atoms
    #buttons
      include ./atoms/buttons.pug
    #links
      include ./atoms/links.pug
    #form
      include ./atoms/form.pug
    #logo
      include ./atoms/logo.pug
    #dropdown
      include ./atoms/dropdown.pug
    #screen-reader
      h3 Screen reader
      p Hide an element to all devices except screen readers with <code>.sr-only</code>.
        
      :example
        <div>
          <label class="sr-only">
             Title
          </label>
          <input type="text"/>
        </div>
