extends layout

block append title
  | - atoms
block content
  h1.styleguide-title Atoms

  main.styleguide-main.styleguide-main--atoms
    #buttons
      include ./atoms/buttons.jade
    #links
      include ./atoms/links.jade
    #form
      include ./atoms/form.jade
    #logo
      include ./atoms/logo.jade
    #dropdown
      include ./atoms/dropdown.jade
