extends layout

block append title
  | - icons
block content
  h1.styleguide-title icons

  main.styleguide-main.styleguide-main--icons
    h2 SVG Icons
    :example
      <svg class="icon icon--contacts">
        <use xlink:href="/assets/symbol-defs.svg#icon-contacts"></use>
      </svg>

      <svg class="icon icon--memory icon--m">
        <use xlink:href="/assets/symbol-defs.svg#icon-memory"></use>
      </svg>

      <svg class="icon icon--flip icon--l">
        <use xlink:href="/assets/symbol-defs.svg#icon-flip"></use>
      </svg>

      <span style="color:green">
        This icon is green
        <svg class="icon icon--person">
          <use xlink:href="/assets/symbol-defs.svg#icon-person"></use>
        </svg>
      </span>

    table
      thead
        tr
          th icon
          th href id
          th class name
      tbody
        each id in iconIds
          - cn = id.replace(/-/g, '--').replace(/_/g, '-')
          tr
            td: svg.icon(class=cn): use(xlink:href='/assets/symbol-defs.svg#'+id)
            td= '#' + id
            td= '.' + cn

    h2 Icon with label

    :example
      <span class="labeled-icon">
        <svg class="icon icon--person icon--with  -label">
          <use xlink:href="/assets/symbol-defs.svg#icon-person"></use>
        </svg>
        <span class="labeled-icon_text">Remy Løvik</span>
      </span>

      <a href="#" class="labeled-icon"><svg class="icon icon--apps icon--with-label">
          <use xlink:href="/assets/symbol-defs.svg#icon-apps"></use>
        </svg><span class="labeled-icon_text">Min læringsstier</span></a>

      <a href="#" class="labeled-icon><span class="labeled-icon_text">
          Logg ut
        </span><svg class="icon icon--exit-to-app icon--with-label">
          <use xlink:href="/assets/symbol-defs.svg#icon-exit_to_app"></use>
        </svg></a>

    :example
      <h3 style="color:maroon" class="labeled-icon">
        <svg class="icon icon--save icon--with-label">
          <use xlink:href="/assets/symbol-defs.svg#icon-save"></use>
        </svg>
        <span class="labeled-icon_text">A:\</span>
      </h3>
