extends layout

block append title
  | - molecules
block content
  h1.styleguide-title Molecules

  main.styleguide-main.styleguide-main--molecules
    #boxes
      include ./molecules/boxes.jade

    h2 Site navigation

    div(style='border:1px dotted grey; margin:1em 0;')
      include ./molecules/site-nav.jade
    div(style='border:1px dotted grey; margin:1em 0;')
      include ./molecules/site-nav--logged-out.jade

    div(style='background-color:#20588f;')
      include ./molecules/site-nav--on-dark.jade
    
    h2 Site navigation with tablet/mobile support
    div
      include ./molecules/masthead-not-fixed.jade

    
    h2 Step navigation
    div(style='max-width:400px;border:1px dotted grey;padding:1em;')
      include ./molecules/step-nav.jade
    h2 Stepper navigation bottom
    div(style='max-width:100%;')
      include ./molecules/stepper-nav-not-fixed.jade

    h2 Sortable list
    div(style='max-width:400px;border:1px dotted grey;padding:1em;')
      include ./molecules/sortable.jade
      
    h2 Step navigation buttons
    div(style='max-width:400px;border:1px dotted grey; padding:1em; padding-top: 3em;')
      include ./molecules/step-nav_buttons.jade
      
    h2 Vertical menu
    div(style='max-width:400px;border:1px dotted grey; padding:1em;')
      include ./molecules/vertical-menu.jade
    div(style='max-width:400px;border:1px dotted grey; padding:1em; margin:1em 0;')
      include ./molecules/vertical-menu--login.jade

    h2 Search form
    div(style='max-width:920px;margin:1em 0; padding:0 1em; border:1px dotted grey;')
      include ./molecules/search-form.jade
    div(style='max-width:920px;background-color:#20588f;margin:1em 0; padding:0 1em;')
      include ./molecules/search-form--dark.jade
    div(style='max-width:920px;background-color:#20588f;margin:1em 0; padding:0 1em;')
      include ./molecules/search-form--dark-wo-sort.jade

    h2 Learningpath information

    div(style='max-width:300px;')
      include ./molecules/learningpath-general-info.jade

    h2 Icon select
    form
      fieldset
        include ./molecules/icon-select.jade

    div(style='max-width:600px;')
      h2 Multiselect closed
      include ./molecules/multiselect--closed.jade
      h2 Multiselect open
      include ./molecules/multiselect--open.jade
    
    h2 Search result
    div(style='max-width:920px')
      include ./molecules/search-result.jade

    h2 Pager
    div(style='max-width:920px')
      include ./molecules/search-stepper--first.jade
      include ./molecules/search-stepper--second.jade
      include ./molecules/search-stepper.jade
      include ./molecules/search-stepper--fourth.jade
      include ./molecules/search-stepper--next-last.jade
      include ./molecules/search-stepper--last.jade

    h2 Alerts

    include ./molecules/alerts.jade
    
    h2 Tooltip
    
    div(style='max-width:920px;border:1px dotted grey;padding:2em 3em;')
      include ./molecules/tooltip.jade
    
    h2 Button group

    include ./molecules/button-group.jade

    h2 Footer

    include ./molecules/footer.jade
