extends layout

block append title
  | - molecules
block content
  h1.styleguide-title Molecules

  main.styleguide-main.styleguide-main--molecules
    #boxes
      include ./molecules/boxes.pug

    h2 Site navigation

    div(style='border:1px dotted grey; margin:1em 0;')
      include ./molecules/site-nav.pug
    div(style='border:1px dotted grey; margin:1em 0;')
      include ./molecules/site-nav--logged-out.pug

    div(style='background-color:#20588f;')
      include ./molecules/site-nav--on-dark.pug
    
    h2 Site navigation with tablet/mobile support
    div
      include ./molecules/masthead-not-fixed.pug

    
    h2 Step navigation
    div(style='max-width:400px;border:1px dotted grey;padding:1em;')
      include ./molecules/step-nav.pug
    h2 Stepper navigation bottom
    div(style='max-width:100%;')
      include ./molecules/stepper-nav-not-fixed.pug

    h2 Sortable list
    div(style='max-width:400px;border:1px dotted grey;padding:1em;')
      include ./molecules/sortable.pug
      
    h2 Step navigation buttons
    div(style='max-width:400px;border:1px dotted grey; padding:1em; padding-top: 3em;')
      include ./molecules/step-nav_buttons.pug
      
    h2 Vertical menu
    div(style='max-width:400px;border:1px dotted grey; padding:1em;')
      include ./molecules/vertical-menu.pug
    div(style='max-width:400px;border:1px dotted grey; padding:1em; margin:1em 0;')
      include ./molecules/vertical-menu--login.pug

    h2 Search form
    div(style='max-width:920px;margin:1em 0; padding:0 1em; border:1px dotted grey;')
      include ./molecules/search-form.pug
    div(style='max-width:920px;background-color:#20588f;margin:1em 0; padding:0 1em;')
      include ./molecules/search-form--dark.pug
    div(style='max-width:920px;background-color:#20588f;margin:1em 0; padding:0 1em;')
      include ./molecules/search-form--dark-wo-sort.pug
    
    
    h2 Image search
    div(style='max-width:870px')
      include ./molecules/image-search-result.pug

    h2 Learningpath information

    div(style='max-width:300px;')
      include ./molecules/learningpath-general-info.pug

    h2 Icon select
    form
      fieldset
        include ./molecules/icon-select.pug

    div(style='max-width:600px;')
      h2 Multiselect closed
      include ./molecules/multiselect--closed.pug
      h2 Multiselect open
      include ./molecules/multiselect--open.pug
    
    h2 Search result
    div(style='max-width:920px')
      include ./molecules/search-result.pug

    h2 Pager
    div(style='max-width:920px')
      include ./molecules/search-stepper--first.pug
      include ./molecules/search-stepper--second.pug
      include ./molecules/search-stepper.pug
      include ./molecules/search-stepper--fourth.pug
      include ./molecules/search-stepper--next-last.pug
      include ./molecules/search-stepper--last.pug

    h2 Alerts

    div(style='max-width:800px')
      include ./molecules/alerts.pug
    
    h2 Tooltip
    
    div(style='max-width:920px;border:1px dotted grey;padding:2em 3em;')
      include ./molecules/tooltip.pug
    
    h2 Button group

    include ./molecules/button-group.pug

    h2 Footer

    div(style='max-width:100%;border:1px dotted grey;')
      include ./molecules/footer.pug
