extends layout

block append title
  | - molecules
block content
  h1.styleguide-title Molecules

  main.styleguide-main.styleguide-main--molecules
    #boxes
      include ./molecules/boxes.jade
    h2 Step navigation
    div(style='max-width:400px')
      include ./molecules/step-nav.jade

    h2 Search form
    div(style='max-width:920px')
      include ./molecules/search-form.jade
      include ./molecules/search-form--dark.jade

    h2 Icon select
    form
      fieldset
        include ./molecules/icon-select.jade

    h2 Search result
    div(style='max-width:920px')
      include ./molecules/search-result.jade

    h2 Pager
    div(style='max-width:920px')
      include ./molecules/search-stepper--first.jade
      include ./molecules/search-stepper--second.jade
      include ./molecules/search-stepper.jade
      include ./molecules/search-stepper--fourth.jade
      include ./molecules/search-stepper--next-last.jade
      include ./molecules/search-stepper--last.jade
