extends layout

block append title
  | - pages
block content
 #site-list
  ul
    li: a(href='pages-empty.html') Default page
    li: a(href='pages-title-empty.html') Default page with page header
    li: a(href='pages-login.html') Login
    li: a(href='pages-minestier.html') Mine læringsstier


