extends layout

block append title
  | - pages
block content
 #site-list.styleguide-pages
  
  h1 Sider
  ul
    li: a(href='/pages/home') Forside
    li: a(href='/pages/login') Login
    li: a(href='/pages/minestier') Mine læringsstier
    li: a(href='/pages/laeringssti') Læringssti
    li: a(href='/pages/pre-opprett-laeringssti') Opprett ny læringssti
    li: a(href='/pages/rediger-laeringssti') Rediger laeringssti
    li: a(href='/pages/rediger-laeringssti-feilmeldinger') Rediger laeringssti med feilmeldinger
    li: a(href='/pages/search') Søk
    li: a(href='/pages/nytt-laeringssteg-1') Nytt laeringssteg
    li: a(href='/pages/rediger-laeringssteg') Rediger laeringssteg
    li: a(href='pages/laeringssteg-open-left-sidebar') Læringsti med venstre meny åpen på mobil
    li: a(href='pages/laeringssteg-open-right-sidebar') Læringsti med høyre meny åpen på mobil


  h2 Komponenter
  ul
    li: a(href='/pages/empty') Default page
    li: a(href='/pages/title-empty') Default page with page header
    li: a(href='/pages/laeringssteg') Læringssti (steg)
    li: a(href='/pages/alerts') Alerts
