extends layout

block append title
  | - pages
block content
 #site-list.styleguide-pages
  ul
    li: a(href='/pages/empty') Default page
    li: a(href='/pages/title-empty') Default page with page header
    li: a(href='/pages/login') Login
    li: a(href='/pages/minestier') Mine læringsstier
    li: a(href='/pages/laeringssti') Læringssti
    li: a(href='/pages/pre-opprett-laeringssti') Opprett ny læringssti
    li: a(href='/pages/laeringssteg') Læringssti (steg)
    li: a(href='/pages/search') Søk
    li: a(href='/pages/opprett-laeringssti') Endre læringssti
    li: a(href='/pages/home') Forside
    li: a(href='/pages/alerts') Alerts
    li: a(href='/pages/endre-laeringssti') Endre læringssti (foreldet?)
    li: a(href='/pages/nytt-laeringssteg') Nytt laeringssteg (foreldet?)
