extends pages-layout

block append title
  | - Læringssti

block content
  .two-column
    aside.two-column_col
      include ./contents/molecules/step-nav.jade

    main.two-column_col
      .learning-path_hd
        h1.learning-path_title Bottom Hole Assembly
        .learning-path_meta
          .learning-path_author Ola Hemsedal
          .learning-path_updated-at Sist endret 11.04.15
          .learning-path_duration 5 timer

      .learning-path_bd
        p Uttrykket Bottom Hole Assembly (BHA) omfatter alt utstyr som brukes i en arbeidsstreng i brønnen. Det kan være både for vertikal boring, retningsboring, logging, brønntesting, komplettering og brønnservice. Felles for BHA er at det er den delen av arbeidsstrengen som har andre funksjoner enn bare å lede utstyr inn og ut av brønnen, slik som f.eks. borerør (Drillpipe), kabel (Wireline) eller kveilerør (Coiled Tubing). I emnet Bottom Hole Assembly – BHA ser vi nærmere på utstyr som brukes til boring, både vanlig boring og retningsboring.

        p Forkortelsen BHA er vanlig å bruke i skriftlig form og er allment kjent i oljeindustrien over hele verden. Det er vanligere å uttale BHA som "Bottom Hole Assembly".

      .learning-path_ft
        a.cta-link.cta-link--secondary.cta-link--text(href='#') Start læringsstien »
