extends pages-layout

block append title
  | - Søk læringssti

block content
  .page-header
    include contents/molecules/search-form.jade
  .search-results
    - var n = 2
    while n++ < 10
      include contents/molecules/search-result.jade
