extends pages-layout

block append title
  | - login

block content
 #login
  h3 Logg inn i NDLA med
  ul
    li: a.cta-link.cta-link--gl(href='/auth/login/google') Google
    li: a.cta-link.cta-link--fb(href='/auth/login/facebook') Facebook
    li: a.cta-link.cta-link--tw(href='/auth/login/twitter') Twitter

