extends pages-layout

block append title
  | - login

block content
 #login
  h3 Logg inn i NDLA med
  ul
    li: a.cta.ctaGl(href='/auth/login/google') Google
    li: a.cta.ctaFb(href='/auth/login/facebook') Facebook
    li: a.cta.ctaTw(href='/auth/login/twitter') Twitter

