:root {
  --darkBlue: #20588f;
  --defultNDLA: #555555;
}

* {
  box-sizing: border-box;
}

.shadow{
    box-shadow: 0 2px 4px #cdcdcd;
}

body{
	color: #222222;
	font-family: 'Open Sans', helvetica, arial, sans-serif;
	margin: 0px;
	margin-top: 140px;
}

content{
	max-width: 1200px;
	margin: 0 auto;
	display: block;
}

p{
	font-family: 'Open Sans', helvetica, arial, sans-serif;
	font-size: .8em;
	font-weight: normal;
}

.logo{
  height: 20px;
  float: left;
  margin-top: 1em;
  margin-right: 1em;
}

.negative{
  background-color: #20588f;
  padding: 2em;
  margin-top: 1em;
}

@import 'atoms/*.css';
