:root {
  --gray-1: #f8f8f8;
  --gray-2: #888;
  --gray-3: #222;
  --blue-1: #20588f;
}

@import 'base/base.css';
@import 'elements/*';
@import 'components/*';

@import 'atoms/*.css';
@import 'pages/*.css';
