.one-column {
  margin: 0 1em;
  padding-top: 2em;
}

.one-column--narrow {
  max-width: 300px;
  margin: 0 auto;
}

.one-column--third{
  max-width: 920px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.one-column__center{
  display: flex;
  align-items: center;
  width: 100%;
}