.two-column {
  display: flex;
  min-height: 100vh;
  align-items: stretch;
}

.two-column_col {
  flex-direction: column;
  border-right: 1px solid var(--gray-8);
}

.two-column_col:nth-child(1) {
  flex-basis: 330px;
  flex-grow: 0;
  position: relative;
}


.two-column_col:nth-child(2) {
  flex-basis: 770px;
  flex-grow: 2;
  flex-shrink: 7;
  padding: 0 10% 2em;
  background-color: white;
}
