* {
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  margin: var(--masthead-height) 0 0;
  color: var(--gray-1);
  background-color: var(--gray-12);
}

a:link, a:visited {
  transition: background-color 0.3s ease;
  color: var(--blue-1);
  font-size: 1em;
}

a:hover, a:active {
  color: color(var(--blue-1) blackness(+ 30%));
}

p {
  line-height: 1.625em;
  font-size: 16px;
  color: var(--gray-3);
}

h1, h2, h3 {
  font-family: 'Signika', Helvetica, Arial, sans-serif;
  font-weight: 800;
}
