select {
  border: 1px solid var(--gray-9);
  border-radius: .313em;
  background: white;
  min-height: 1.5em;
  font-size: 1em;
  color: var(--gray-2);
}

select:focus {
  outline: none;
}

input {
  padding: .6em 1em;
  box-shadow: inset 1px 1px color(black alpha(3%));
  border: 1px solid var(--gray-9);
  border-radius: .313em;
  background: white;
  min-height: 1.5em;
  font-size: 1em;
  color: var(--gray-2);
}

input:focus {
  outline: none;
  border-color: var(--blue-1);
  box-shadow: 0 0 6px color(var(--blue-1) alpha(.2));
}

.input--success {
  border-color: var(--green-1);
  box-shadow: 0 0 6px color(var(--green-1) alpha(.2));
}

.input--alert {
  border-color: var(--red-1);
  box-shadow: 0 0 6px color(var(--red-1) alpha(.2));
}


label {
  display: block;
  margin: 1em 0 .5em 0;
}

button, input[type=submit], input[type=button] {
  transition: background-color 0.3s ease;
  padding: 1.1em;
  border: none;
  border-radius: .5em;
  font-size: 1em;
  color: white;
  background-color: var(--gray-6);
  cursor: pointer;
}

input[type=submit]:hover, input[type=button]:hover {
  background-color: color(var(--gray-6) blackness(+ 30%));
  color: white;
}

input[type=submit]:disabled, input[type=button]:disabled {
  opacity: .3;
  cursor: not-allowed;
}

.button {
  transition: background-color 0.3s ease;
  padding: 1.1em;
  border: none;
  border-radius: .5em;
  font-size: 1em;
  color: white;
  background-color: var(--gray-6);
  cursor: pointer;
  text-decoration: none;
}

.button:hover {
  background-color: color(var(--gray-3) blackness(+ 100%));
}

.button--outline {
  background-color: white;
  border: 3px solid var(--gray-3);
  color: var(--gray-3);
}

.button--outline:hover {
  background-color: var(--gray-10);
  color: var(--gray-3);
}

.un-button {
  transition: background-color none;
  padding: 0;
  border-radius: 0;
  font-size: 1em;
  color: inherit;
  background-color: transparent;
}
