select {
  border: 1px solid var(--gray-9);
  border-radius: .313em;
  background: white;
  min-height: 1.5em;
  font-size: 1em;
  color: var(--gray-2);
}

select:focus {
  outline: none;
}

input {
  padding: .6em 1em;
  box-shadow: inset 1px 1px color(black alpha(3%));
  border: 1px solid var(--gray-9);
  border-radius: 0.331em;
  background: white;
  min-height: 1.5em;
  font-size: 1em;
  color: var(--gray-2);
}

input:focus {
  outline: none;
  border-color: var(--blue-5);
}

.input--success {
  border-color: var(--green-1);
  box-shadow: 0 0 6px color(var(--green-1) alpha(.2));
}

.input--alert {
  border-color: var(--red-1);
  box-shadow: 0 0 6px color(var(--red-1) alpha(.2));
}

label {
  display: block;
  margin: 1em 0 .5em 0;
}

select {
  border-left: 15px solid white;
  border-right: 15px solid white;
}

.textarea {
  padding: .6em 1em;
  box-shadow: inset 1px 1px color(black alpha(3%));
  border: 1px solid var(--gray-9);
  border-radius: 0.331em;
  background: white;
  min-height: 1.5em;
  font-size: 1em;
  color: var(--gray-2);
  width: 100%;
}

.textarea:focus {
  outline: none;
  border-color: var(--blue-5);
}
