input[type=text], select {
  border: 1px solid #e6e6e6;
  border-radius: .313em;
  background: #ffffff;
  min-height: 1.5em;
  font-size: 1em;
}

input[type=text]:focus, select:focus {
  outline: none;
}

input[type=text] {
  padding: .6em 1em;
  box-shadow: inset 1px 1px rgba(0, 0, 0, 0.03);
}

input[type=text].success {
  border-color: #6fce72;
  box-shadow: 0 0 6px rgba(111, 206, 114, 0.2);
}

input[type=text].alert {
  border-color: #e4655f;
  box-shadow: 0 0 6px rgba(228, 101, 95, 0.2);
}

input[type=text]:focus {
  border-color: #20588F;
  box-shadow: 0 0 6px rgba(95, 142, 228, 0.2);
}

input[type=radio],
input[type=checkbox] {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
}

label {
  display: block;
  margin: 1em 0 .5em 0em;
}

button, input[type=submit], input[type=button] {
  transition: background-color 0.3s ease;
  padding: 1.1em;
  border: none;
  border-radius: .5em;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: .8em;
  color: white;
  background-color: var(--gray-2);
  cursor: pointer;
}

button:hover, input[type=submit]:hover, input[type=button]:hover {
  background-color: color(var(--gray-2) blackness(+ 30%));
  color: white;
}

button {
  background-color: var(--blue-1);
}

button:hover {
  background-color: color(var(--blue-1) blackness(+ 30%));
  color: white;
}
